# Configuration file

"client specific" {
    B:"[C3CAAF756] Console Loading Info"=true
    B:"[C4854B219] Custom/Donator Renders"=true
    B:"[D1264B893] Disable Alpha Clipping in WorldRenderer"=true
    B:"[DB4647D61] Debug Mode"=false
    B:"[DB548DF30] Disable Renders For Debug"=false
    B:"[DD5D2F68A] Disable Hotbar Swapping"=false
    I:"[DEF1EC389] Debug Overlay Key (LWJGL ID)"=15
    B:"[EAAB67A6B] Enable Vernal Amusement Behavior"=true
    B:"[I38B8694E] Increase sound channel count"=true
    B:"[L0184B24D] Log errors to chat"=true
    B:"[LD59A904B] Log Loading Info To Separate File"=false
    I:"[PF8D140B5] Particle Limit (Vanilla = 4000)"=4000
    B:"[SBF644735] Show TileEntity NBT when using Debug Key"=false
    B:"[SF2BF6779] Sort Creative Tabs Alphabetically"=true
}


"control setup" {
    B:"Admins Bypass Permissions"=true
    B:"Attempt to Repair Environment Sanity"=false
    I:"Automatic Reboot Interval (Seconds)"=-1
    B:"Cache Skins"=true
    B:"Check Environment Sanity"=false
    B:"Compare mod file hashes between client and server"=true
    B:"Direct OpenComputers Support"=true
    B:"Disallow Null-Item ItemStacks to Prevent Crashes"=true
    B:"Extra Block Ticks When Raining"=true
    B:"Force Gregtech Ore Compatibility"=true
    B:"Log Sync Packet CME Avoidance"=true
    B:"Merge XP Orbs Like Items"=true
    I:"Minimum Delay (ms) for 'Can't Keep Up!' Log Warning"=0
    B:"Only show update notice to Ops or SSP"=false
    B:"Only show update notice to pack creator"=false
    B:"Prevent Mobs From Targeting Players Immediately After Logging In"=true
    B:"Restore Obsidian Blast Resistance"=true
    B:"Slow Sync Packets - Only use this as a last resort"=false
    I:"Sync Packet ID"=182
    B:"Use HashMap for Sound Categories - Only use if necessary"=false
}


